
body {
    background-image: url("espacio.jpeg");
    background-repeat: repeat;
    background-color: black;
    font-family: verdana, arial, sans-serif;
    margin: 10px;
}

p {
    color: lightyellow;
    font-size: 1.75em;
    text-align: justify;
}

h1 {
    color: lightyellow;
    font-size: 300%;
}
